data/*
!data/raw/
!data/processed/
!data/database/
data/raw/*
data/processed/*
data/database/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/database/.gitkeep
!data/database/database_sample.db
data/tests/visulization/charts