data/*
!data/raw/
!data/processed/
!data/database/
!data/predictions/
!data/models/
!data/img/

data/raw/*
data/processed/*
data/database/*
data/predictions/*
!data/predictions/img/
data/models/*

data/predictions/img/*
!data/predictions/img/.gitkeep

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/database/.gitkeep
!data/predictions/.gitkeep
!data/database/database_sample.db
!data/models/.gitkeep

tests/visulization/charts/*
!tests/visulization/charts/.gitkeep
tests/model_testing/catboost_info/*
unit_tests/__pycache__/*
tests/__pycache__/*
webapp/database.db
