data/*
!data/raw/
!data/processed/
!data/database/
!data/predictions/
data/raw/*
data/processed/*
data/database/*
data/predictions/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/database/.gitkeep
!data/predictions/.gitkeep
!data/database/database_sample.db
tests/visulization/charts/*
!tests/visulization/charts/.gitkeep
tests/model_testing/catboost_info/*
unit_tests/__pycache__/*
tests/__pycache__/*
webapp/database.db