<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wild Lands - Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="login-page">

    <div class="bg-layer"></div>
    <div class="overlay"></div>
<div >
    <h2>WildLands Portal</h2>
    <div class="login-box">
        <form action="/login" method="POST">
            <div class="input-group">
                <input name="username" type="text" placeholder="Username or Email" class="input-field">
            </div>

            <div class="input-group">
                <input name="password" type="password" placeholder="Password" class="input-field">
            </div>

            <button type="submit" class="login-btn">Log In</button>
        </form>
    </div>
</div>
</body>
</html>


