name: Daily pipeline + Tests

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

  schedule:
    - cron: '0 3 * * *'  # Everyday at 04:00 GMT+1 In winter it's 05:00

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: run unit tests
        run: |
          pytest -v tests/test_data_cleaning.py

      - name: Run daily pipeline
        run: |
          python run_daily_pipeline.py